@import '../styles/var.less';

@preCls: ~'@{prefix}-resizer';
.@{preCls} {
  position: relative;

  &-thumb {
    position: absolute;
    z-index: 1000;
    background-color: transparent;
    transition: background-color 0.3s;
    user-select: none;

    &:hover {
      background-color: var(--cmd-resizer-thumb-color);
    }

    &-resizing {
      background-color: var(--cmd-resizer-thumb-color);

      &::after {
        display: block;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 200px;
      height: 200px;
      min-width: 100%;
      min-height: 100%;
      cursor: inherit;
      display: none;
    }

    &-direction-left {
      width: 2px;
      left: 0;
      top: 0;
      transform: translateX(-50%);
      height: 100%;
      cursor: col-resize;
    }

    &-direction-right {
      width: 2px;
      right: 0;
      top: 0;
      transform: translateX(50%);
      height: 100%;
      cursor: col-resize;
    }

    &-direction-top {
      width: 100%;
      left: 0;
      top: 0;
      transform: translateY(-50%);
      height: 2px;
      cursor: row-resize;
    }

    &-direction-bottom {
      width: 100%;
      left: 0;
      bottom: 0;
      transform: translateY(50%);
      height: 2px;
      cursor: row-resize;
    }
  }
}
